@model FTMS.ViewModels.TopicCourseViewModel
@{
	ViewBag.Title = "Create";
}

<h2>Create a new Topic</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "Topics", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.LabelFor(p => p.Topic.Name)
		@Html.TextBoxFor(p => p.Topic.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(p => p.Topic.Name, "", new { @class = "text-danger" })
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Topic.Description)
		@Html.TextBoxFor(p => p.Topic.Description, new { @class = "form-control" })
		@Html.ValidationMessageFor(p => p.Topic.Description, "", new { @class = "text-danger" })
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Topic.Course.Name)
		@Html.DropDownListFor(p => p.Topic.CourseId,
		 new SelectList(Model.Courses, "Id", "Name"),
		 "Select Course Name",
		 new { @class = "form-control" })
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
}

