@model FTMS.ViewModels.TopicCourseViewModel
@{
	ViewBag.Title = "Edit";
}

<h2>Edit Topic</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "Topics", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(p => p.Topic.Id)
	<div class="form-group">
		@Html.LabelFor(p => p.Topic.Name)
		@Html.EditorFor(p => p.Topic.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(p => p.Topic.Name, "", new { @class = "text-danger" })
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Topic.Description)
		@Html.EditorFor(p => p.Topic.Description, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(p => p.Topic.Description, "", new { @class = "text-danger" })
	</div>
	<div class="form-group">
		@Html.LabelFor(p => p.Topic.Course.Name)
		@Html.DropDownListFor(p => p.Topic.CourseId,
		 new SelectList(Model.Courses, "Id", "Name"),
		 "Select Course Name",
		 new { @class = "form-control" })
	</div>
	<button type="submit" class="btn btn-primary">Edit</button>
}