@model IEnumerable<FTMS.Models.Category>
@{
	ViewBag.Title = "Index";
}

<h2>Category</h2>

@Html.ActionLink("Create a new Category", "Create")
@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
	<p>
		Find by course name: @Html.TextBox("SearchString")
		<input type="submit" value="Search" />
	</p>
}

<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Category Name</th>
		<th>Category Description</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>
	@foreach (var category in Model)
	{
		<tr>
			<td>@category.Id</td>
			<td>@category.Name</td>
			<td>@category.Description</td>
			<td>@Html.ActionLink("Delete", "Delete", new { id = category.Id })</td>
			<td>@Html.ActionLink("Edit", "Edit", new { id = category.Id })</td>
		</tr>
	}
</table>

