@model IEnumerable<FTMS.Models.Course>


@{
	ViewBag.Title = "Index";
}

<h2>Course</h2>

@Html.ActionLink("Create a new course", "Create")
@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
	<p>
		Find by course name: @Html.TextBox("SearchString")
		<input type="submit" value="Search" />
	</p>
}

<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Course Name</th>
		<th>Course Description</th>
		<th>Category Name</th>
		<th>Delete</th>
	</tr>
	@foreach (var course in Model)
	{
		<tr>
			<td>@course.Id</td>
			<td>@course.Name</td>
			<td>@course.Description</td>
			<td>@course.Category.Name</td>
			<td>@Html.ActionLink("Delete", "Delete", new { id = course.Id })</td>
		</tr>
	}
</table>
